@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
  background-color: #f2f3f4;
  min-height: 100vh;
}
.App a:link{
  color: #707070;
  text-decoration: none;
}
.App a:hover{
  color: #707070;
  text-decoration: none;
}

.App a:active{
  color: #707070;
  text-decoration: none;
}

.App a:visited{
  color: #707070;
  text-decoration: none;
}
