/*  globals  */
@import "../node_modules/react-datepicker/dist/react-datepicker.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import '../node_modules/react-vis/dist/style.css';


/*  index.js  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*  App.js  */
.App {
  min-height: 100vh;
}
.App a:link{
  text-decoration: none;
}
.App a:hover{
  text-decoration: none;
}
.App a:active{
  text-decoration: none;
}
.App a:visited{
  text-decoration: none;
}

/*  home.js  */
.logo {
  height: 10vmin;
  pointer-events: none;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  min-height:60vh;
}
.map {
  margin: 0;
  height: 100%;
  overflow: hidden
}
.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 10;
  left: 0;
  margin: 12px;
  background-color: #ffffff;
  color: #1b1e21;
  z-index: 1 !important;
  padding: 1rem;
  font-weight: 1000;
  font-size: calc(10px + 3vmin);
}

/*  about.js  */
.about {
  text-align: center;

}
.about-logo {
  height: 30vmin;
  pointer-events: none;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: #808080;
}
.about-main{
  text-align: left;
  color: #787878;
  font-size: calc(10px + 1.5vmin);
}

/*  safety.js  */

.safety-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.safety-main{
  text-align: left;
}


/*  header.js  */
.react-datepicker-wrapper,
.react-datepicker__input-container input {
    border-radius: 0;
    margin-right: .5vmin;
}
.react-datepicker__input-container {
  border-radius: 15%;
}
.non-resizing{
  min-width: 80px;
}


/*  footer.js  */
.footer {
  font-size: calc(10px + 1.5vmin);
  background-color: #ffffff;
  color: #d9dadb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer a:link{
  color: #c3c4c5;
  text-decoration: none;
}
.footer a:hover{
  color: #c3c4c5;
  text-decoration: none;
}
.footer a:active{
  color: #c3c4c5;
  text-decoration: none;
}
.footer a:visited{
  color: #c3c4c5;
  text-decoration: none;
}
